.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*Things I have added */

.status-search-input {
  width:50%;
  border-style: solid;
  border-color: black;
  border-width: thin;
  text-align: center;
}

.status-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-box {
  border-style: solid;
  border-color: black;
  border-width: thin;
  height: 30px;
  width: 120px;
  padding-top:5px;
  font-weight: bold;

}


.status-box:hover {
  background-color: green;
  color: white;
}


.status-box a:focus
{     background-color:yellow;    }


.status-box-active {
  border-style: solid;
  border-color: black;
  border-width: thin;
  height: 30px;
  width: 120px;
  padding-top:5px;
  font-weight: bold;
  background-color: green;
  color: white;
}

.navbar-container {
  background-color: yellow;
  height: 150px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
}
